* {
    font-size: 16px;
    font-family: sans-serif;
    --col: lightblue;
}

h1{
    font-size: 200%;
    padding: 10px;
}

h2{
    font-size: 130%;
    padding: 8px;
}

h3{
    font-size: 150%;
}

h4{
    font-size: 120%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.about h3 {
    flex: 0 0 20%;
    text-align: right;
}

.about div {
    flex: 0 0 77%;
}

figure{
    border: 5px;
    border-style: solid;
    border-color: var(--col);
}

/* .hero{

} */

.nav1{
    margin: 2px
}

.nav2{
    /* underline */
}

.workContain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.infoCard{
    background-size: 100%;
    display: flex;
    align-items: flex-end;
}

.infoCard div {
    background-color: var(--col);
    /* position: absolute; */
}

.surf{
    background-image: url('./images/vacation.jpg');
}